body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 30px 100px 1fr 50px;
    height: 100vh;
    width: 100vw;
    
}

header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 2;
    
    background-color: rgb(244, 178, 55);
    border-radius: 30px;
}
.inner_container{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-items: center;
    align-items: center;
}

#world-map{
    width: auto;
    height: auto;
}
.highlight{
    fill: darkgray;
}
.picked{
    fill: orange ;
}
.userBox{
    grid-area: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mouseBox{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    display: none;
  }